:root {
  --main-font: "Verdana", sans-serif;
  font-family: var(--main-font);
  font-size: 14px;
  color: #000000;
}
.main {
  width: 20%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: #1f2120;
  color: #ffffff;
  border-radius: 2%;
  box-shadow: 8px 8px 30px rgba(49, 1, 7, 0.5);
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  height: 5%;
  font-size: 0.75rem;
}
header img {
  width: 5%;
}

main {
  width: 100%;
  height: 95%;
}
.screen {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
}
.screen output {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: lighter;
}

.screen .history {
  height: 30%;
  color: #a1a0a1;
}
.screen .result {
  height: 70%;
  font-size: 2rem;
}

.memory-button {
  display: flex;
  height: 6%;
  margin-bottom: 1%;
}
.memory-button button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 4px;
  color: #ffffff;
  font-size: 0.8rem;
}
.memory-button button:hover {
  background-color: #313332;
}

.keyboard {
  width: 100%;
  height: 67%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.15rem;
}
.keyboard button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313332;
  color: #ffffff;
  border-radius: 4px;
}
.keyboard button:hover {
  background-color: #393c3c;
}
.keyboard img {
  width: 1rem;
}
.keyboard .backspace img,
.keyboard .equal img {
  width: 1.5rem;
}

.keyboard .number {
  background-color: #393c3c;
}
.keyboard .number:hover {
  background-color: #313332;
}
.keyboard .equal {
  background-color: #db9ee5;
}
.keyboard .equal:hover {
  background-color: #c990d3;
}
